*.swp
.DS_Store
.directory
/bootstrap/compiled.php
composer.phar
/vendor
composer.lock
.env.*.php
.env.php
/bootstrap/compiled.php
Thumbs.db
composer.lock
composer.phar
configuration.json
laravel
vendor/
